{% extends 'index.html' %} {% load static %} {% load humanize %} {% block content %}
<div class="table-id card mt-4" style="width: 100%; margin: auto">
  <div class="card-body">
    <h6 class="m-0 text-center">Pedidos Legalización</h6>
    <table class="table" id="table_id" style="width: 100%; margin: auto">
      <thead>
        <tr class="text-center" style="background-color: #8ee7fa; font-size: 0.8em;">
          <th scope="col">Pedido</th>
          <th>Actividad</th>
          <th>Fecha</th>
          <th>Dias</th>
          <th>Cliente</th>
          <th>Nombre</th>
          <th>Celular</th>
          <th>Instalación</th>
          <th>Area</th>
          <th>Concepto</th>
          <th>Observación</th>
        </tr>
      </thead>
      <tbody>
        {% for a in aneses %}

        <tr class="text-center tr">
          <th scope="row">{{ a.Pedido }}</th>
          <td>{{ a.Actividad }}</td>
          <td>{{ a.fecha_vencimiento }}</td>
          <td>{{ a.Días_ANS|intcomma }}</td>
          <td>{{ a.ClienteID }}</td>
          <td style="font-size: 0.9em;">{{ a.Nombre_Cliente }}</td>
          <td>{{ a.Celular_Contacto }}</td>
          <td>{{ a.Instalación }}</td>
          <td>{{ a.Area_Trabajo }}</td>
          <td>{{ a.Concepto }}</td>
          <td><textarea name="" class="p-1" id="" cols="20" rows="5">{{ a.Observación_Solicitud }}</textarea></td>
        </tr>

        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock content %} {% block js %}

<script src="{% static 'js/js_pendientes.js' %}"></script>

<script>
  $(document).ready(function () {
    $("#table_id").DataTable({
      order: [[1, "desc"]],

      dom: "Bfrtilp",

      lengthMenu: [
        [15, 30, 50, -1],
        ['15', '30', '50', 'Todos']
      ],
      buttons: [
        {
          extend: "excelHtml5",
          title: '',
          exportOptions: {
            columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
            format: {
              body: function (data, row, column, node) {
                data = $('<p>' + data + '</p>').text();
                return $.isNumeric(data.replace(',', '.')) ? data.replace(',', '.') : data;
              }
            }
          },
        },
        {
          extend: "copyHtml5",
          title: '',
          exportOptions: {
            columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
            format: {
              body: function (data, row, column, node) {
                data = $('<p>' + data + '</p>').text();
                return $.isNumeric(data.replace(',', '.')) ? data.replace(',', '.') : data;
              }
            }
          },
        },
      ],
    });
  });
</script>

{% endblock js %}