{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Gestión pedidos</title>
  <script src="{% static 'sweetalert/sweetalert2.all.min.js' %} "></script>

  <link href="{% static 'css/style_pendientes.css' %}" rel="stylesheet" />

  <link href="{% static 'icons/css/all.css' %}" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <script src="{% static 'js/jquery.js' %}"></script>
  <link rel="stylesheet" href="{% static 'datatable/css/dataTables.bootstrap4.min.css' %}" />
  <link rel="stylesheet" href="{% static 'datatable/plugins/responsive-2.2.3/css/responsive.bootstrap4.min.css' %}" />
  <script src="{% static 'datatable/js/jquery.dataTables.js' %}"></script>
  <script src="{% static 'datatable/js/dataTables.bootstrap4.min.js' %}"></script>
  <script src="{% static 'datatable/plugins/responsive-2.2.3/js/dataTables.responsive.min.js' %}"></script>
  <script src="{% static 'datatable/plugins/responsive-2.2.3/js/responsive.bootstrap4.min.js' %}"></script>
  <script src="https://cdn.datatables.net/buttons/2.1.0/js/dataTables.buttons.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
  <script src="https://cdn.datatables.net/buttons/2.1.0/js/buttons.html5.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/2.1.0/js/buttons.print.min.js"></script>
  <script src="https://cdn.datatables.net/plug-ins/1.12.1/dataRender/datetime.js"></script>

  {% block head %} {% endblock head %}
</head>

<body class="body">
  {% if request.user.is_authenticated %}
  <div class="header" id="sub-header">
    <ul class="nav">
      <li class="nav-item" id="inicio">
        <a class="nav-link" href="{% url 'home' %}">Inicio</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"
          aria-expanded="true">
          Admin
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li><a class="dropdown-item" href="/admin/gestionvencimientos/actividad/" target="blank">Actividades
              contrato</a></li>
          <li><a class="dropdown-item" href="/admin/gestionvencimientos/actividad_epm/" target="blank">Actividades
              epm</a></li>
          <li><a class="dropdown-item" href="/admin/gestionvencimientos/encargado/" target="blank">Encargados</a></li>
          <li><a class="dropdown-item" href="/admin/gestionvencimientos/numeroacta/" target="blank">Número Acta</a></li>
        </ul>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"
          aria-expanded="true">
          Revisión Acta
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li><a class="dropdown-item" href="/admin/Analisis_acta/acta/import/" target="blank">Importar Acta
              revisión</a></li>
          <li><a class="dropdown-item" href="#" onclick="calculo_novedades()">Calculo Novedades Acta</a></li>
          <li><a class="dropdown-item" href="#" onclick="limpiar_novedades_acta()">Reiniciar Novedades</a></li>
          <li><a class="dropdown-item" href="#" onclick="limpiar_acta_analisis()">Reiniciar Acta Analisis</a></li>
          <li class="nav-item" id="pendi_index">
            <a class="dropdown-item" id="pendi_a" href="{% url 'novedades_acta' %}">Novedades</a>
          </li>

        </ul>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"
          aria-expanded="true">
          Gestión Ans
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li><a class="dropdown-item" id="pendi_a" href="{% url 'menu_pendientes' %}">Pendientes</a></li>
          <li><a class="dropdown-item" href="/admin/gestionvencimientos/ans/import/" target="blank">Subir extracción</a>
          </li>
          <li><a class="dropdown-item" href="#" onclick="gestion_bd()">Gestionar BD extracción</a></li>
          <li><a class="dropdown-item" href="#" onclick="reiniciar_bd()">Reiniciar BD extracción</a></li>
          <li><a class="dropdown-item" href="#" onclick="fechas_busqueda_epm()">Vencimientos epm</a></li>
          <li><a class="dropdown-item" href="{% url 'programador' %}">Programador</a></li>
          <li><a class="dropdown-item" href="{% url 'inconsistencias' %}">Inconsistencias</a></li>
        </ul>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"
          aria-expanded="true">
          Programar
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li><a class="dropdown-item" href="{% url 'acrev' %}">ACREV</a></li>
          <li><a class="dropdown-item" href="{% url 'amrtr' %}">AMRTR</a></li>
          <li><a class="dropdown-item" href="{% url 'lega' %}">LEGA</a></li>
        </ul>
      </li>
      <!--
          PERSEO VS FENIX
        -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"
            aria-expanded="true">
            Perseo Vs Fénix
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" id="pendi_a" href="/admin/perseovsfenix/matperseo/import/" target="_blank">Subir Perseo</a></li>
            <li><a class="dropdown-item" id="pendi_a" href="/admin/perseovsfenix/matfenix/import/" target="_blank">Subir Fénix</a></li>
            <li><a class="dropdown-item" id="pendi_a" href="#" onclick="calculo_novedades_perseo_vs_fenix()">Gestionar</a></li>
            <li><a class="dropdown-item" id="pendi_a" href="#" onclick="reiniciar_bd_perseo_vs_fenix()">Reiniciar actas</a></li>
            <li><a class="dropdown-item" id="pendi_a" href="{% url 'novedades_perseo_fenix' %}">Novedades</a></li>
            <li><a class="dropdown-item" id="pendi_a" href="#" onclick="reiniciar_novedades_bd_perseo_vs_fenix()">Reiniciar novedades</a></li>          
          </ul>
        </li>
        <!--
            FIN PERSEO VS FENIX
          -->

      {% if request.user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}?next=/">Cerrar sesión</a>
      </li>
      {% endif %}
    </ul>
  </div>
  {% endif %}

  {% block content %}
  <p class="text-center mt-4 text-primary fw-bold fs-2">Bienvenido {{ user.username }} a la app para la gestión de ANS
    pendientes.</p>
  {% endblock content %}

  {% block js %}
  <script src="{% static 'js/js_pendientes.js' %}"></script>
  <script src="{% static 'js/logica_epm.js' %}"></script>
  {% endblock js %}

</body>
</html>