{% extends 'index.html' %} {% load static %} {% block content %}
<div class="table-id card mt-4" style="width: 100%; margin: auto">
  <div class="card-body">
    <table class="table" id="table_id" style="width: 100%; margin: auto">
      <thead>
        <tr
        class="text-center"
        style="background-color: #8ee7fa;"
      >
        <th scope="col">Pedido</th>
        <th>Hora venci</th>
        <th scope="col">Dias ANS</th>
        <th scope="col">Cliente ID</th>
        <th scope="col">Nombre Cliente</th>
        <th scope="col">Celular</th>
        <th scope="col">Instalación</th>
        <th scope="col">Area trabajo</th>
        <th scope="col">Coordenada x</th>
        <th scope="col">Coordenada y</th>
        <th scope="col">Actividad</th>
        <th scope="col">Observación</th>
      </tr>
      </thead>
      <tbody>
        {% for a in aneses %}

        <tr class="text-center tr">
          <th scope="row">{{ a.Pedido }}</th>
          <td>{{ a.fecha_vencimiento }}</td>
          <td>{{ a.Días_ANS }}</td>
          <td>{{ a.ClienteID }}</td>
          <td>{{ a.Nombre_Cliente }}</td>
          <td>{{ a.Celular_Contacto }}</td>
          <td>{{ a.Instalación }}</td>
          <td>{{ a.Area_Trabajo }}</td>
          <td>{{ a.Coordenadax }}</td>
          <td>{{ a.Coordenaday }}</td>
          <td>{{ a.Actividad }}</td>  
          <td><textarea name="" id="" cols="20" class="p-1" rows="5">{{ a.Observación_Solicitud }}</textarea></td>
        </tr>

        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock content %} {% block js %}

<script src="{% static 'js/js_pendientes.js' %}"></script>

<script>
  $(document).ready(function () {
    $("#table_id").DataTable({
      order: [[1, "asc"]],

      dom: "Bfrtilp",

      lengthMenu: [
            [ 15, 30, 50, -1 ],
            [ '15', '30', '50', 'Todos' ]
        ],
        
      buttons: [
      {
        text: 'Week',
        action: function ( e, dt, node, config ) {
          window.location.href ="/week/"+1
        }
    },
        {
          extend: "copyHtml5",
          title:'',
          exportOptions: {
            columns: [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11 ]
          },
        },
        {
          extend: "csvHtml5",
          title:'',
          exportOptions: {
            columns: [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11 ]
          },
        },
        {
          extend: "pdfHtml5",
          title:'',
          exportOptions: {
            columns: [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11 ]
          },
        },
        "print",   
        {
          extend: "excelHtml5",
          title:'',
          exportOptions: {
            columns: [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11 ]
          },
        },    
      ],
    });
  });
</script>

{% endblock js %}
