{% extends 'index.html' %} {% load static %} {% block content %}

<div style="display: flex; justify-content: center" class="header-menu">
  <ul class="nav text-light">
    
    <li class="nav-item">
      <a
        class="nav-link"
        id="id_url_10"
        href="{% url 'pendientes_next_week' 10 %}"
        >Lunes</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        id="id_url_20"
        href="{% url 'pendientes_next_week' 20 %}"
        >Martes</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        id="id_url_30"
        href="{% url 'pendientes_next_week' 30 %}"
        >Miercoles</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        id="id_url_40"
        href="{% url 'pendientes_next_week' 40 %}"
        >Jueves</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        id="id_url_50"
        href="{% url 'pendientes_next_week' 50 %}"
        >Viernes</a
      >
    </li>
  </ul>
  <div class="div-oculto" id="div_id-oculto">
    <input type="text" id="id-oculto" value="{{ id_dia }}" />
  </div>
</div>
<div class="table-id card mt-1" style="width: 90%; margin: auto">
  <div class="card-body">
    <table
      class="table table-sm table-hover"
      class="display nowrap"
      id="table_id"
    >
      <thead class="p-0">
        <tr class="text-center p-0" style="background-color: #8ee7fa">
          <th scope="col">Pedido</th>
          <th>Fecha contrato</th>
          <th>Fecha epm</th>
          <th scope="col">Encargado</th>
          <th scope="col">Instalación</th>
          <th scope="col">Actividad</th>
          <th scope="col">Municipio</th>
        </tr>
      </thead>
      <tbody>
        {% for a in aneses %}
        {% if a.fecha_vence_epm != "0" %}
        <tr class="text-center tr">
          <th class="pt-1">{{ a.Pedido }}</th>
          <td class="m-0 pb-0">{{ a.fecha_vencimiento }}</td>  
          <td class="m-0 pb-0">{{ a.fecha_vence_epm }}</td>  
          <td class="m-0 pb-0">{{ a.encargado }}</td>
          <td class="m-0 pb-0">{{ a.Instalación }}</td>
          <td class="m-0 pb-0">{{ a.Actividad }}</td>
          <td class="m-0 pb-0">{{ a.Area_Trabajo }}</td>

        </tr>
        {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock content %} {% block js %}

<script src="{% static 'js/js_pendientes.js' %}"></script>
<script>
  $(document).ready(function () {
    $("#table_id").DataTable({
      order: [[1, "asc"]],
      dom: "Bfrtilp",

      lengthMenu: [
        [15, 30, 50, -1],
        ["15 filas", "30 filas", "50 filas", "Todos"],
      ],

      buttons: [
        {
          text: "Week",
          action: function (e, dt, node, config) {
            window.location.href = "/week/" + 2;
          },
        },

        {
          extend: "excelHtml5",
          title:'',
          exportOptions: {
            columns: [0, 1, 2, 3, 4,5,6],
          },
        },
      ],
    });
  });
</script>

{% endblock js %}
