{% extends 'index.html' %} {% load static %} {% block content %}
<div class="table-id card mt-4" style="width: 90%; margin: auto">
  <div class="card-body">
    <table class="table" id="table_id" style="width: 100%; margin: auto">
      <thead>
        <tr
          class="text-center"
          style="background-color: #8ee7fa;"
        >
          <th scope="col">Pedido</th>
          <th>Fecha vence</th>
          <th>Hora</th>
          <th scope="col">Encargado</th>
          <th scope="col">Actividad</th>
          <th scope="col">Municipio</th>
          <th scope="col">Observación</th>
        </tr>
      </thead>
      <tbody>
        {% for a in aneses %}

        <tr class="text-center tr">
          <th scope="row">{{ a.Pedido }}</th>
          <td>{{ a.fecha_vence_sin_hora }}</td>
          <td>{{ a.hora_vencimiento }}</td>
          <td>{{ a.encargado }}</td>
          <td>{{ a.Actividad }}</td>
          <td>{{ a.Area_Trabajo }}</td>
          <td> <textarea name="" id="" cols="100" rows="3">{{ a.Observación_Solicitud }}</textarea></td>
        </tr>

        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock content %} {% block js %}

<script src="{% static 'js/js_pendientes.js' %}"></script>

<script>
  $(document).ready(function () {
    $("#table_id").DataTable({
      order: [[1, "asc"]],
      title:'',
      dom: "Bfrtilp",
      buttons: ["copy", "pdf", "print", "csv", "excel"],
    });
  });
</script>

{% endblock js %}
